@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.postBody ul {
    @apply list-disc list-inside pl-4
}
.language-powershell {
    @apply rounded
}

.postBody a {
    @apply text-color-info-600 hover:underline;
}

.postBody h1 {
    @apply text-3xl font-bold;
}
.postBody  p{
    @apply mt-4
}

.postBody h2 {
    @apply text-2xl font-bold;
}

.postBody h3{
    @apply text-xl font-bold;
}
.postBody code:not([class]) {
    @apply rounded;
    color: #ABB2BF;
    background: #282c34;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }